.menu-1-header {
  display: block;
  background-color: transparent;
}

.logo-menu-header {
  width: 120px;
  height: 80px;
  margin-left: 10%;
}

.menu-list-header {
  display: inline-flex;
  margin-left: 45%;
}

.menu-list-header li { 
  font-size: 1rem;
  color: white;
  padding: 2px 10px;
}

.menu-list-header li:hover { 
  color: orange;
}

@media screen and (max-width: 600px) { 
  .menu-list-header { 
    margin-left: 5%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px){ 
  .menu-list-header { 
    margin-left: 20%;
  }
}