.div-section {
  background-image: url('../../assets/wallpaper-section.jpg.png');
  padding: 5%;
  text-align: center;
}

.h1-section {
  font-family: 'Releway', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.h2-section {
  font-family: 'Releway', sans-serif;
  font-size: 40px;
}

.span-1-home {
  color: #ffa900;
  font-weight: bold;
}

.span-2 {
  color: #006400;
  font-weight: bold;
}

.span-3 {
  border-color: #c6255a;
  border-top-style: solid;
  border-top-width: 7px;
  padding-top: 10px;
}

.span-4 {
  color: #c6255a;
  font-weight: bold;
}

.button-section {
  width: 20%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: #c6255a;
  border-color: #c6255a;
  border-radius: 20px;
  color: #fff;
}

.button-section:hover {
  background-color: #c6255a;
  color: white;
  transition: 1s;
}

@media screen and (max-width: 800px) {
  .h2-section,
  .h1-section {
    font-size: 30px;
  }
  .span-3 {
    border-top-width: 5px;
    padding-top: 10px;
  }

  .button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
