*{
    font-family: 'Raleway', sans-serif;
    font-weight: "200", "400", ou "800" (light, regular, bold)
}

.form {
    width: 70%;
    height: 50vh;
    display: block;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10%;
    margin-top: 5%;
}

/*Inputs - Label*/
.form-label{
    font-family: 'Raleway', sans-serif;
    font-weight: light;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em;

}

.title-cadastre {
    color: orange;
    text-align: center;
}

/*Inputs - Field*/
.form-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: 60%;
    margin-bottom: 2%;
    padding: 1%;
    border-color: transparent;
    border-bottom-color: #d3d3d3;
    border-width: 0.5px;
    
}

.form-upload{
    display: block;
    margin-left: 28%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    font-weight: bold;
}

.button {
    background-color: orange;
    border-color: transparent;
    margin-left: 20%;
    color: #ffffff;
    width: 60%;
}

.button:hover {
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    background-color: white;
    transition: 1s;
}

/*Mensagem de erro: preencha os campos*/
.msg-error {
    color: red;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .form{
        width: 90%;
        height: 60vh;
    }

    .form-upload{
        margin-left: 15px;
    }

    .button{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-field {
        width: 100%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .form{
        width: 65%;
        height: 60vh;
    }

    .form-upload{
        margin-left: 22%;
    }

    .button{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-field {
        width: 100%;
        margin-bottom: 5%;
    }
}