*{
    font-family: 'Raleway', sans-serif;
    font-weight: "200", "400", ou "800" (light, regular, bold)
}

.form{
    width: 60%;
    height: 50vh;
    display: block;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

/*Inputs - Label*/
.form-label{
    font-family: 'Raleway', sans-serif;
    font-weight: light;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em;;

}

/*Inputs - Field*/
.form-field{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    width: 60%;

    border-color: transparent;
    border-bottom-color: black;
    border-bottom-width: 1px;

    margin-bottom: 2%;
    
}

.form-upload{
    display: block;
    margin-left: 28%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    font-weight: bold;
}

.button{
    background-color: rgb(255, 102, 0);
    border-color: transparent;
    color: #ffffff;
    font-weight: bold;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 6vh;
}

.button:hover {
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    background-color: white;
    transition: 1s;
}

/*Mensagem de erro: preencha os campos*/
.msg-error {
    color: red;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .form{
        width: 90%;
        height: 60vh;
    }

    .form-upload{
        margin-left: 15px;
    }

    .button{
        height: 6vh;
        width: 100%;
    }

    .form-field {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .form{
        width: 60%;
        height: 60vh;
    }

    .form-upload{
        margin-left: 22%;
    }

    .button{
        width: 100%;
    }

    .form-field {
        width: 100%;
    }
}