/* Inserido a foto como imagem de fundo */
.div-header {
  margin-top: 0;
  padding-bottom: 15%;
  background-image: url('../../assets/img/womakerscode-oficina.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Espaçamento do começo do texto em relação ao topo, tamanho e espaçamento das letras  */
.h2-header {
  width: 70%;
  color: orange;
  margin-top: 0%;
  padding-top: 20%;
  padding-left: 10%;

  font-size: 5rem;
  font-family: 'Releway', sans-serif;
  font-weight: 790;

  word-spacing: 1rem;
  letter-spacing: 0.2rem;
}



@media screen and (max-width: 800px) {
  .h2-header {
    width: 100%;
    font-size: 3.8rem;
    margin-top: 20%;
    padding-top: 15%;
  }


  .div-header {
    padding-bottom: 30%;
 
    margin-bottom: -13%;
  }
}
