/*Wallpaper*/
.up-info {
	background-image: url("../../assets/wallpaper-info-event.png");
	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 60vh;
	margin-top: -10%;
} 

/*Lista com as informações do evento*/
.list-info {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	
}