
/*Div do titulo, lista de participantes e botão*/
.list-participants {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 3%;
	width: 100%;
}

/*Div de formulário*/
.input-participantes {
	text-align: center;
}

/*---------------------------------*/

/*Inputs*/
.input-1, .input-2 {
	width: 40%;
	margin-top: 1%;
}

.button-parcipants {
	margin-top: 3%;
}

.buttom-ver-certificado {
	margin-left: 3%;
	margin-right: 1%;
}

/*-------------------------------------*/

/*Lista de participantes*/
.title-2 {
	margin-top: 0;
	color: #c6255a;
	font-family: 'Raleway', sans-serif;
}

/*Todos os articipantes*/
.participantes {
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -40%;
	width: 100%;
}

/*Mensagem: sem participantes cadastrados*/
.no-data-presents {
	color: red;
	text-align: center;
	font-size: 15px;
}
/*Para cada nome dos participantes*/
.name-participant {
	display: inline-flex;
	font-size: 15px;
	width: 100%;
	padding: 1%;
}

@media screen and (max-width: 800px) {
	.list-participants { 
		grid-template-columns: repeat(1, 1fr);
	}
	.title-2 {
		margin-top: 5%;
	}

	.name-participant {
		display: block;
	}
}

