
/*Div do titulo, lista de participantes e botão*/
.list-participants {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 3%;
	width: 100%;
}

/*Div de formulário*/
.input-participantes {
	text-align: center;
}

/*---------------------------------*/

/*Mensagem de alerta/erro*/
.msg-error-participant {
	color: red;
}

/*Inputs*/
.input-1, .input-2 {
	width: 60%;
	margin-top: 1%;
}

.button-parcipants {
	margin-top: 3%;
}

/*-------------------------------------*/

.title-2 {
	text-align: center;
	margin-top: 0;
	color: #c6255a;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

/*Para cada nome dos participantes*/
.name-participant {
	display: inline-flex;
	font-size: 15px;
	width: 60%;
	margin-left: 30%;
	padding: 1%;
}

/*Certificado do usuário*/


@media screen and (max-width: 800px) {
	.list-participants { 
		grid-template-columns: repeat(1, 1fr);
	}
	.title-2 {
		margin-top: 5%;
	}
}

