.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.course{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
}

.button-delete{
    margin: 0.5%;
    border-width: 0.2em;
    font-weight: bold;
}

.button-edit{
    margin: 0.5%;
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    border-width: 0.2em;
    font-weight: bold;
}

.button-check{
    margin: 0.5%;
    border-color: #C6255A;
    color: #C6255A;
    border-width: 0.2em;
    font-weight: bold;
}

.button-certificate{
    margin: 0.5%;
    border-color: rgb(153, 0, 153);
    background-color: rgb(153, 0, 153);
    color: #ffffff;
    border-radius: 10px;
    border-width: 0.2em;
    font-weight: bold;
}