.button-form-login {
	background-color: pink;
    border-color: pink;
    margin-right: 15%;
}


.article {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.title-login {
    color: #c6255a;
    text-align: center;
}

.login-form {
	margin-bottom: -20%;
}

@media screen and (max-width: 900px) {
	.article { 
		width: 70%;
	}

	.loginBtn.loginBtn-google {
		margin-left: 10%;
	}
}

@media screen and (max-width: 700px) {
	.article { 
		width: 70%;
	}
}

@media screen and (min-width: 700px) {
	.login-form {
		margin-bottom: -30%;
	}
}
