.certificate-background {
	display: flex;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	background-image: url("../../assets/wallpaper-certificate.png");
  	background-repeat: no-repeat;
  	background-size: cover;

}

hr {
	color: black;
}

.p-certificate {
	font-size: 20px;
	color: black;
	margin-top: 25%;
	margin-left: 25%;
}
