.course{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 3%;
    font-weight: bold;
}

/*Informações do evento*/
.span-list-event {
    color: pink;
}

/*Lista de eventos - div*/
.listEvents {
    margin-bottom: -30%;
    margin-right: auto;
    margin-left: 5%;
}

/*Para cada um dos eventos*/
.each-event {

    flex-direction: row;
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

.h4-list-event {
    color: pink;
    font-weight: bold;
}


.button-edit{


}

.button-check{
    border-color: transparent;
    color: gray;
}

.button-check:hover{
    border-color: transparent;
    color: #C6255A;
    transition: 0.2s;
}

.button-info {
    border-color: transparent;
    color: gray;
}

.button-info:hover {
    border-color: pink;
    color: pink;
    transition: 0.2s;
}
.button-edit {
    margin-right: 3%;
    background-color: #d6815b;
    border-color: #d6815b;
    color: white;
}

.button-edit:hover {
    background-color: white;
    border-color: #d6815b;
    color: #d6815b;
    transition: 0.5s;
}

.button-delete {
    background-color: #cc0000;
    border-color: #cc0000;
    color: white;
}

.button-delete:hover {
    background-color: white;
    border-color: #cc0000;
    color: white;
    transition: 0.5s;
}

.edit-event-title{
    display: flex;
    justify-content: center;
}

.edit-event-input{
    margin: 1%;
}
