/*Bem vindo organizador*/
.title-2-list-events {
    margin-left: 85%;
    margin-top: -7%;
    font-size: 15px;
}

/*Lista de eventos*/
.title{
    display: flex;
    margin-left: 5%;
    color: #C6255A;
}


.button-add{
    border-color: rgb(0, 176, 240);
    background-color: rgb(0, 176, 240);
    color: #ffffff;
    border-radius: 5px;
    border-width: 0.2em;
    font-size: 15px;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.button-add:hover {
    border-color: rgb(0, 176, 240);
    color:  rgb(0, 176, 240);
    transition: 0.3s;
}

.button-profile {
    border-color: #c6255a;
    background-color: #c6255a;
    color: #ffffff;
    border-radius: 5px;
    border-width: 0.2em;
    font-size: 15px;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 5%;
}

.button-profile:hover {
    border-color: #c6255a;
    color: #c6255a;
    transition: 0.3s;
}

/*Botão para voltar para a lista de eventos dentro do perfil*/
.button-back-of-profile {
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: -30%;

    background-color: #616cd0;
    color: white;
    border-color: #616cd0;
}

.button-back-of-profile:hover {
    background-color: white;
    color: #616cd0;
    border-color: #616cd0;
    transition: 0.5s;
}

/*Botão para volta a lista de eventos estando na lista de participantes*/
.button-back-from-list {
    display: flex;
    background-color: #616cd0;
    color: white;
    border-color: #616cd0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30%;
}

.button-back-from-list:hover {
    background-color: white;
    color: #616cd0;
    border-color: #616cd0;
    transition: 0.5s;
}

/*Botão para voltar para a lista de eventos*/
.button-back-of-event {
    background-color: pink;
    margin-top: -20%;
}