.course{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
}

/*Informações do evento*/
.span-list-event {
    color: pink;
}

.h4-list-event {
    color: pink;
    font-weight: bold;
}

.button-delete{
    margin: 5%;
    border-width: 0.2em;
    font-weight: bold;
}

.button-edit{
    margin: 5%;
    margin-left: -4%;
    border-color: rgb(255, 102, 0);
    color: rgb(255, 102, 0);
    border-width: 0.2em;
    font-weight: bold;
}

.button-check{
    margin: 5%;
    border-color: #C6255A;
    color: #C6255A;
    border-width: 0.2em;
}

.button-info {
    margin: 5%;
    margin-left: -4%;
    border-color: gray;
    color: gray;
    border-width: 0.2em;
}

.edit-event{
    display: flex;
	margin: 5% auto;
	width: 30%;
}

.edit-event-title{
    display: flex;
    justify-content: center;
}

.edit-event-input{
    margin: 1%;
}

.button-edit-event{
    margin-top: 3%;
    width: 100%;
}