.menu-1 {
  display: block;
  background-color: white;
  box-shadow: 0px 0px 4px gray;
}

.logo-menu {
  width: 110px;
  height: 70px;
  margin-left: 10%;
}

.menu-list {
  display: inline-flex;
  margin-left: 45%;
}

.menu-list li { 
  font-size: 1rem;
  color: gray;
  padding: 2px 10px;
}

.menu-list li:hover { 
  color: orange;
}

@media screen and (max-width: 760px) { 
  .menu-list { 
    margin-left: 30%;
  }
}

@media screen and (max-width: 600px) { 
  .menu-list { 
    margin-left: 20%;
  }
}